<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<?include formats.wxi?>
	<?define RECOIL_EXTS=$(var.FIRST_EXT);$(var.OTHER_EXTS)?>
	<?define DOUBLECLICK=Double-click Atari image file in Windows Explorer to display it in ?>

	<?define UPGRADE_GUID32=19995735-0DC9-4C92-848E-AEFF0407139C?>
	<?if $(sys.BUILDARCH) = x86?>
		<?define UPGRADE_GUID=$(var.UPGRADE_GUID32)?>
		<?define PROGRAM_FILES_FOLDER=ProgramFilesFolder?>
		<?define MUTEXCONDS=(($recoilwin.ext=3 OR ($recoilwin.ext=-1 AND ?recoilwin.ext=3)) AND ($xnview_recoil.ext=3 OR ($xnview_recoil.ext=-1 AND ?xnview_recoil.ext=3) OR $imagine.ext=3 OR ($imagine.ext=-1 AND ?imagine.ext=3)));
(($xnview_recoil.ext=3 OR ($xnview_recoil.ext=-1 AND ?xnview_recoil.ext=3)) AND ($imagine.ext=3 OR ($imagine.ext=-1 AND ?imagine.ext=3)))?>
	<?elseif $(sys.BUILDARCH) = x64?>
		<?define UPGRADE_GUID=2FF8D81E-4C6A-4A2A-B5EF-2021E6620CDF?>
		<?define PROGRAM_FILES_FOLDER=ProgramFiles64Folder?>
		<?define MUTEXCONDS=(($recoilwin.ext=3 OR ($recoilwin.ext=-1 AND ?recoilwin.ext=3)) AND ($xnview_recoil.ext=3 OR ($xnview_recoil.ext=-1 AND ?xnview_recoil.ext=3) OR $imagine.ext=3 OR ($imagine.ext=-1 AND ?imagine.ext=3)));
(($recoilwin.ext=3 OR ($recoilwin.ext=-1 AND ?recoilwin.ext=3)) AND ($imagine64.ext=3 OR ($imagine64.ext=-1 AND ?imagine64.ext=3)));
(($xnview_recoil.ext=3 OR ($xnview_recoil.ext=-1 AND ?xnview_recoil.ext=3)) AND ($imagine.ext=3 OR ($imagine.ext=-1 AND ?imagine.ext=3) OR $imagine64.ext=3 OR ($imagine64.ext=-1 AND ?imagine64.ext=3)));
(($imagine.ext=3 OR ($imagine.ext=-1 AND ?imagine.ext=3)) AND ($imagine64.ext=3 OR ($imagine64.ext=-1 AND ?imagine64.ext=3)))?>
	<?endif?>

	<Product Id="*" Name="RECOIL - Retro Computer Image Library $(var.VERSION)" Language="1033"
		Version="$(var.VERSION)" Manufacturer="Piotr Fusik and Adrian Matoga" UpgradeCode="$(var.UPGRADE_GUID)">

		<Package Description="RECOIL - Retro Computer Image Library" Manufacturer="Piotr Fusik and Adrian Matoga" InstallerVersion="200" Compressed="yes" />
		<MajorUpgrade DowngradeErrorMessage="Newer version of RECOIL is already installed!" />
		<Media Id="1" Cabinet="recoil.cab" EmbedCab="yes" CompressionLevel="high" />

		<!-- inspired by TortoiseSVN.wxs -->
		<?if $(sys.BUILDARCH) = x86?>
			<Condition Message="You are attempting to run the 32-bit installer on a 64-bit version of Windows. Use the 64-bit installer instead.">NOT Msix64</Condition>
		<?else?>
			<Upgrade Id="$(var.UPGRADE_GUID32)">
				<UpgradeVersion Minimum="0.0.0.0" OnlyDetect="yes" Property="WIN32RECOILFOUND" />
			</Upgrade>
			<Condition Message="Please uninstall the previous version of RECOIL.">NOT WIN32RECOILFOUND</Condition>
		<?endif?>

		<Icon Id="recoil.ico" SourceFile="recoil.ico" />
		<Property Id="ARPHELPLINK" Value="http://recoil.sourceforge.net/" />
		<Property Id="ARPPRODUCTICON" Value="recoil.ico" />
		<WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
		<WixVariable Id="WixUIDialogBmp" Value="dialog.jpg" />
		<WixVariable Id="WixUIBannerBmp" Value="banner.jpg" />

		<UI Id="MyWixUI_FeatureTree">
			<!-- customized WixUI_FeatureTree from Wix 3.0 - my changes commented -->
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="FeatureTree" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />

			<Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MyLicenseAgreementDlg">1</Publish>

			<Publish Dialog="MyLicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
			<Publish Dialog="MyLicenseAgreementDlg" Control="Next" Event="NewDialog" Value="MyCustomizeDlg">1</Publish>

			<Publish Dialog="MyCustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
			<Publish Dialog="MyCustomizeDlg" Control="Back" Event="NewDialog" Value="MyLicenseAgreementDlg" Order="2">NOT Installed</Publish>
			<Publish Dialog="MyCustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MyCustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
			<Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

			<Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

			<Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="MyCustomizeDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
			<Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

			<Dialog Id="MyLicenseAgreementDlg" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
				<!-- removed the checkbox and replaced the "Next" button with "I Accept" -->
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="I &amp;Accept">
					<!-- http://www.joyofsetup.com/2010/05/20/its-time-to-experiment/
					<Publish Event="SpawnWaitDialog" Value="WaitForCostingDlg">CostingComplete = 1</Publish>
					-->
				</Control>
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)" />
				<!-- higher license box because of the removed checkbox -->
				<Control Id="LicenseText" Type="ScrollableText" X="20" Y="60" Width="330" Height="155" Sunken="yes" TabSkip="no">
					<Text SourceFile="!(wix.WixUILicenseRtf)" />
				</Control>
				<!-- removed the "Print" button -->
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="340" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgDescription)" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.LicenseAgreementDlgTitle)" />
			</Dialog>

			<Dialog Id="MyCustomizeDlg" Width="370" Height="270" Title="!(loc.CustomizeDlg_Title)" TrackDiskSpace="yes">
				<!-- wider and higher selection tree so it doesn't need scrollbars -->
				<Control Id="Tree" Type="SelectionTree" X="10" Y="75" Width="190" Height="125" Property="_BrowseProperty" Sunken="yes" TabSkip="no" Text="!(loc.CustomizeDlgTree)" />
				<Control Id="Browse" Type="PushButton" X="294" Y="210" Width="66" Height="17" Text="!(loc.CustomizeDlgBrowse)">
					<Publish Event="SelectionBrowse" Value="BrowseDlg">1</Publish>
					<Condition Action="hide">Installed</Condition>
					<Condition Action="disable">Installed</Condition>
				</Control>
				<!-- removed the "Reset" and "Disk Cost" buttons, moved the "Back" and "Next" buttons to their position in other dialogs -->
				<Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
				<Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)">
					<Subscribe Event="SelectionNoItems" Attribute="Enabled" />
				</Control>
				<Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
					<Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
				</Control>
				<Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.CustomizeDlgBannerBitmap)" />
				<Control Id="Text" Type="Text" X="25" Y="55" Width="320" Height="20" Text="!(loc.CustomizeDlgText)" />
				<Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
				<Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
				<Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgDescription)" />
				<Control Id="Title" Type="Text" X="15" Y="6" Width="210" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.CustomizeDlgTitle)" />
				<Control Id="Box" Type="GroupBox" X="210" Y="71" Width="150" Height="128" />
				<Control Id="ItemDescription" Type="Text" X="215" Y="90" Width="131" Height="50" Text="!(loc.CustomizeDlgItemDescription)">
					<Subscribe Event="SelectionDescription" Attribute="Text" />
				</Control>
				<Control Id="ItemSize" Type="Text" X="215" Y="140" Width="131" Height="50" Text="!(loc.CustomizeDlgItemSize)">
					<Subscribe Event="SelectionSize" Attribute="Text" />
				</Control>
				<Control Id="Location" Type="Text" X="90" Y="210" Width="200" Height="20" Text="!(loc.CustomizeDlgLocation)">
					<Subscribe Event="SelectionPath" Attribute="Text" />
					<Subscribe Event="SelectionPathOn" Attribute="Visible" />
					<Condition Action="hide">Installed</Condition>
				</Control>
				<Control Id="LocationLabel" Type="Text" X="25" Y="210" Width="65" Height="10" Text="!(loc.CustomizeDlgLocationLabel)">
					<Subscribe Event="SelectionPathOn" Attribute="Visible" />
					<Condition Action="hide">Installed</Condition>
				</Control>
			</Dialog>

			<!-- handle mutually exclusive file associations, conditions generated with wix_mutex.pl -->
			<?foreach MUTEXCOND in $(var.MUTEXCONDS)?>
				<Publish Dialog="MyCustomizeDlg" Control="Next" Event="SpawnDialog" Value="MyManyAssociationsDlg" Order="3">
					$(var.MUTEXCOND)
				</Publish>
			<?endforeach?>
			<Dialog Id="MyManyAssociationsDlg" Width="270" Height="85" Title="!(loc.ErrorDlg_Title)">
				<Control Id="ErrorText" Type="Text" X="48" Y="15" Width="205" Height="60" TabSkip="no" Text="You have selected &quot;Associate file types&quot; for many viewers. You may associate files with only one viewer." />
				<Control Id="ErrorIcon" Type="Icon" X="15" Y="15" Width="24" Height="24" ToolTip="!(loc.ErrorDlgErrorIconTooltip)" FixedSize="yes" IconSize="32" Text="!(loc.ErrorDlgErrorIcon)" />
				<Control Id="O" Type="PushButton" X="100" Y="60" Width="56" Height="17" TabSkip="yes" Text="!(loc.WixUIOK)">
					<Publish Event="EndDialog" Value="Return">1</Publish>
				</Control>
			</Dialog>
		</UI>
		<UIRef Id="WixUI_Common" />

		<Property Id="XNVIEW.DIR">
			<RegistrySearch Id="xnview.installdir" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\XnView_is1" Name="InstallLocation" Type="directory" Win64="no" />
		</Property>
		<Property Id="XNVIEW.EXE">
			<RegistrySearch Id="xnview.exe" Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\XnView_is1" Name="InstallLocation" Type="directory" Win64="no">
				<FileSearch Name="xnview.exe" />
			</RegistrySearch>
		</Property>

		<Property Id="IMCODERS.DIR">
			<RegistrySearch Id="imcoders.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="CoderModulesPath" Type="directory" Win64="no" />
		</Property>
		<Property Id="IMCONFIG.DIR">
			<RegistrySearch Id="imconfig.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="ConfigurePath" Type="directory" Win64="no" />
		</Property>
		<Property Id="CODER.XML">
			<DirectorySearch Id="coder.xml" Path="[IMCONFIG.DIR]" Depth="1">
				<FileSearch Name="coder.xml" />
			</DirectorySearch>
		</Property>
		<?if $(sys.BUILDARCH) = x64?>
			<Property Id="IMCODERS64.DIR">
				<RegistrySearch Id="imcoders64.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="CoderModulesPath" Type="directory" Win64="yes" />
			</Property>
			<Property Id="IMCONFIG64.DIR">
				<RegistrySearch Id="imconfig64.dir" Root="HKLM" Key="SOFTWARE\ImageMagick\Current" Name="ConfigurePath" Type="directory" Win64="yes" />
			</Property>
			<Property Id="CODER64.XML">
				<DirectorySearch Id="coder64.xml" Path="[IMCONFIG64.DIR]" Depth="1">
					<FileSearch Name="coder.xml" />
				</DirectorySearch>
			</Property>
		<?endif?>

		<Property Id="IMAGINE.DIR">
			<!-- apparently there is no Wow6432Node for this key, hence no IMAGINE64.DIR -->
			<RegistrySearch Id="imagine.dir" Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Imagine" Name="InstallLocation" Type="directory" />
		</Property>
		<Property Id="IMAGINE.EXE">
			<RegistrySearch Id="imagine.exe" Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Imagine" Name="InstallLocation" Type="directory">
				<FileSearch Name="Imagine.exe" />
			</RegistrySearch>
		</Property>
		<?if $(sys.BUILDARCH) = x64?>
			<Property Id="IMAGINE64.EXE">
				<RegistrySearch Id="imagine64.exe" Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\Imagine" Name="InstallLocation" Type="directory">
					<FileSearch Name="Imagine64.exe" />
				</RegistrySearch>
			</Property>
		<?endif?>

		<Property Id="PAINTDOTNET.DIR">
			<RegistrySearch Id="paintdotnet.dir" Root="HKLM" Key="SOFTWARE\Paint.NET" Name="TARGETDIR" Type="directory" />
		</Property>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="$(var.PROGRAM_FILES_FOLDER)">
				<Directory Id="RECOIL.DIR" Name="RECOIL">
					<Component Id="recoilwin.exe" Win64="no">
						<File Name="recoilwin.exe" Source="recoilwin.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="recoilwin.ext">
						<RegistryValue Root="HKCR" Key="recoil.file" Name="recoilwin" Type="integer" Value="1" KeyPath="yes" />
						<ProgId Id="recoilwin.file">
							<Extension Id="$(var.FIRST_EXT)">
								<!-- Verb needs to be defined only once per ProgId -->
								<Verb Id="open" TargetFile="recoilwin.exe" Argument='"%1"' />
							</Extension>
							<?foreach EXT in $(var.OTHER_EXTS)?>
								<Extension Id="$(var.EXT)" />
							<?endforeach?>
						</ProgId>
					</Component>

					<Component Id="recoil2png.exe" Win64="no">
						<File Name="recoil2png.exe" Source="recoil2png.exe" Checksum="yes" KeyPath="yes" />
					</Component>
					<Component Id="path" Guid="496125A6-884C-4A43-B075-268A248EF3E5">
						<Environment Id="path" Action="set" Name="Path" Part="last" Permanent="no" System="yes" Value="[RECOIL.DIR]" />
						<CreateFolder />
					</Component>

					<Component Id="README_WindowsSetup.html">
						<File Name="README_WindowsSetup.html" Source="README_WindowsSetup.html" KeyPath="yes" />
					</Component>

					<Component Id="thumbrecoil.dll" Win64="no">
						<File Name="thumbrecoil.dll" Source="thumbrecoil.dll" Checksum="yes" KeyPath="yes">
							<Class Id="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Context="InprocServer32" Description="RECOIL Thumbnail Handler" ThreadingModel="both" />
						</File>
						<RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Value="RECOIL Thumbnail Handler" Type="string" Action="write" />
					</Component>
					<Component Id="thumbrecoilXP.reg" Win64="no">
						<Condition>VersionNT &lt; 600</Condition>
						<?foreach EXT in $(var.RECOIL_EXTS)?>
							<RegistryValue Root="HKCR" Key=".$(var.EXT)\ShellEx\{bb2e617c-0920-11d1-9a0b-00c04fc2d6c1}" Value="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Type="string" Action="write" />
						<?endforeach?>
					</Component>
					<Component Id="thumbrecoilVista.reg" Win64="no">
						<Condition>VersionNT &gt;= 600</Condition>
						<?foreach EXT in $(var.RECOIL_EXTS)?>
							<RegistryValue Root="HKCR" Key=".$(var.EXT)\ShellEx\{e357fccd-a995-4576-b01f-234630154e96}" Value="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Type="string" Action="write" />
						<?endforeach?>
					</Component>
					<?if $(sys.BUILDARCH) = x64?>
						<Component Id="thumbrecoil64.dll" Win64="yes">
							<File Name="thumbrecoil64.dll" Source="x64\thumbrecoil.dll" Checksum="yes" KeyPath="yes">
								<Class Id="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Context="InprocServer32" Description="RECOIL Thumbnail Handler" ThreadingModel="both" />
							</File>
							<RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Value="RECOIL Thumbnail Handler" Type="string" Action="write" />
						</Component>
						<Component Id="thumbrecoil64XP.reg" Win64="yes">
							<Condition>VersionNT &lt; 600</Condition>
							<?foreach EXT in $(var.RECOIL_EXTS)?>
								<RegistryValue Root="HKCR" Key=".$(var.EXT)\ShellEx\{bb2e617c-0920-11d1-9a0b-00c04fc2d6c1}" Value="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Type="string" Action="write" />
							<?endforeach?>
						</Component>
						<Component Id="thumbrecoil64Vista.reg" Win64="yes">
							<Condition>VersionNT &gt;= 600</Condition>
							<?foreach EXT in $(var.RECOIL_EXTS)?>
								<RegistryValue Root="HKCR" Key=".$(var.EXT)\ShellEx\{e357fccd-a995-4576-b01f-234630154e96}" Value="{3C450D81-B6BD-4D8C-923C-FC659ABB27D3}" Type="string" Action="write" />
							<?endforeach?>
						</Component>
					<?endif?>
				</Directory>

				<Directory Id="XNVIEW.DIR" Name="XnView">
					<Directory Id="XNVIEWPLUG.DIR" Name="PlugIns">
						<Component Id="Xrecoil.usr" Win64="no">
							<File Name="Xrecoil.usr" Source="Xrecoil.usr" Checksum="yes" KeyPath="yes" />
						</Component>
					</Directory>
					<Component Id="xnview_recoil.ext">
						<RegistryValue Root="HKCR" Key="recoil.file" Name="XnView.Image" Type="integer" Value="1" KeyPath="yes" />
						<ProgId Id="XnView.Image">
							<Extension Id="$(var.FIRST_EXT)">
								<!-- Verb needs to be defined only once per ProgId -->
								<Verb Id="open" TargetProperty="XNVIEW.EXE" Argument='"%1"' />
							</Extension>
							<?foreach EXT in $(var.OTHER_EXTS)?>
								<Extension Id="$(var.EXT)" />
							<?endforeach?>
						</ProgId>
					</Component>
				</Directory>

				<Directory Id="IMCODERS.DIR" Name="ImageMagick-RECOIL"><!-- fake Name -->
					<Component Id="IM_MOD_RL_recoil_.dll" Win64="no">
						<File Name="IM_MOD_RL_recoil_.dll" Source="IM_MOD_RL_recoil_.dll" Checksum="yes" KeyPath="yes" />
						<?foreach EXT in $(var.RECOIL_EXTS)?>
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Element_create" On="install" Action="create" Node="element" ElementPath="/codermap" Name="coder" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Magick_create" ElementPath="coder.xml_$(var.EXT)_Element_create" Name="magick" Value="$(var.EXT)" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Name_create" ElementPath="coder.xml_$(var.EXT)_Element_create" Name="name" Value="RECOIL" File="[CODER.XML]" />
							<util:XmlConfig Id="coder.xml_$(var.EXT)_Element_delete" On="uninstall" Action="delete" Node="element" VerifyPath="/codermap/coder[\[]@magick='$(var.EXT)' and @name='RECOIL'[\]]" ElementPath="/codermap" Name="coder" File="[CODER.XML]" />
 						<?endforeach?>
					</Component>
				</Directory>
				<?if $(sys.BUILDARCH) = x64?>
					<Directory Id="IMCODERS64.DIR" Name="ImageMagick64-RECOIL"><!-- fake Name -->
						<Component Id="IM_MOD_RL_recoil_64.dll" Win64="yes">
							<File Id="IM_MOD_RL_recoil_64.dll" Name="IM_MOD_RL_recoil_.dll" Source="x64\IM_MOD_RL_recoil_.dll" Checksum="yes" KeyPath="yes" />
							<?foreach EXT in $(var.RECOIL_EXTS)?>
								<util:XmlConfig Id="coder64.xml_$(var.EXT)_Element_create" On="install" Action="create" Node="element" ElementPath="/codermap" Name="coder" File="[CODER64.XML]" />
								<util:XmlConfig Id="coder64.xml_$(var.EXT)_Magick_create" ElementPath="coder64.xml_$(var.EXT)_Element_create" Name="magick" Value="$(var.EXT)" File="[CODER64.XML]" />
								<util:XmlConfig Id="coder64.xml_$(var.EXT)_Name_create" ElementPath="coder64.xml_$(var.EXT)_Element_create" Name="name" Value="RECOIL" File="[CODER64.XML]" />
								<util:XmlConfig Id="coder64.xml_$(var.EXT)_Element_delete" On="uninstall" Action="delete" Node="element" VerifyPath="/codermap/coder[\[]@magick='$(var.EXT)' and @name='RECOIL'[\]]" ElementPath="/codermap" Name="coder" File="[CODER64.XML]" />
							<?endforeach?>
						</Component>
					</Directory>
				<?endif?>

				<Directory Id="IMAGINE.DIR" Name="Imagine">
					<Directory Id="IMAGINEPLUG.DIR" Name="Plugin">
						<Component Id="RECOIL.plg" Win64="no">
							<File Name="RECOIL.plg" Source="RECOIL.plg" Checksum="yes" KeyPath="yes" />
						</Component>
					</Directory>
					<Component Id="imagine.ext">
						<RegistryValue Root="HKCR" Key="recoil.file" Name="Imagine.RECOIL" Type="integer" Value="1" KeyPath="yes" />
						<ProgId Id="Imagine.RECOIL">
							<Extension Id="$(var.FIRST_EXT)">
								<!-- Verb needs to be defined only once per ProgId -->
								<Verb Id="open" TargetProperty="IMAGINE.EXE" Argument='"%1"' />
							</Extension>
							<?foreach EXT in $(var.OTHER_EXTS)?>
								<Extension Id="$(var.EXT)" />
							<?endforeach?>
						</ProgId>
					</Component>
					<?if $(sys.BUILDARCH) = x64?>
						<Directory Id="IMAGINEPLUG64.DIR" Name="Plugin">
							<Component Id="RECOIL.plg64" Win64="yes">
								<File Name="RECOIL.plg64" Source="x64\RECOIL.plg64" Checksum="yes" KeyPath="yes" />
							</Component>
						</Directory>
						<Component Id="imagine64.ext">
							<RegistryValue Root="HKCR" Key="recoil.file" Name="Imagine64.RECOIL" Type="integer" Value="1" KeyPath="yes" />
							<ProgId Id="Imagine.RECOIL">
								<Extension Id="$(var.FIRST_EXT)">
									<!-- Verb needs to be defined only once per ProgId -->
									<Verb Id="open" TargetProperty="IMAGINE64.EXE" Argument='"%1"' />
								</Extension>
								<?foreach EXT in $(var.OTHER_EXTS)?>
									<Extension Id="$(var.EXT)" />
								<?endforeach?>
							</ProgId>
						</Component>
					<?endif?>
				</Directory>

				<Directory Id="PAINTDOTNET.DIR" Name="Paint.NET">
					<Directory Id="PAINTDOTNETFILETYPES.DIR" Name="FileTypes">
						<Component Id="RecoilPaintDotNet.dll">
							<File Name="RecoilPaintDotNet.dll" Source="RecoilPaintDotNet.dll" Checksum="yes" KeyPath="yes" />
						</Component>
					</Directory>
				</Directory>
			</Directory>

			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="menu.dir" Name="RECOIL">
					<Component Id="RECOILWin.lnk">
						<RegistryValue Root="HKCU" Key="Software\RECOIL" Name="ProgramsMenuRECOILWin" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="RECOILWin.lnk" Name="RECOILWin" Target="[#recoilwin.exe]" />
					</Component>
					<Component Id="Documentation.lnk">
						<RemoveFolder Id="menu.dir" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\RECOIL" Name="ProgramsMenuDoc" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="Documentation.lnk" Name="Documentation" Target="[#README_WindowsSetup.html]" />
					</Component>
					<Component Id="Website.url" Guid="517E5616-5C8E-428B-834E-5059C00947F2">
						<RegistryValue Root="HKCU" Key="Software\RECOIL" Name="ProgramsMenuWebsite" Type="integer" Value="1" KeyPath="yes" />
						<File Name="Website.url" Source="Website.url" />
					</Component>
					<Component Id="uninstall.lnk">
						<RegistryValue Root="HKCU" Key="Software\RECOIL" Name="ProgramsMenuUninstall" Type="integer" Value="1" KeyPath="yes" />
						<Shortcut Id="uninstall.lnk" Name="Uninstall" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="RECOILWin.desktop">
					<RegistryValue Root="HKCU" Key="Software\RECOIL" Name="DesktopRECOILWin" Type="integer" Value="1" KeyPath="yes" />
					<Shortcut Id="RECOILWin.desktop" Name="RECOILWin" Target="[#recoilwin.exe]" />
				</Component>
			</Directory>
		</Directory>

		<Feature Id="recoilwin" Title="RECOILWin" Level="1" ConfigurableDirectory="RECOIL.DIR" Description="Simple viewer." AllowAdvertise="no">
			<ComponentRef Id="recoilwin.exe" />
			<Feature Id="recoilwin.lnk" Title="Start menu shortcut" Level="1" Description="Adds RECOILWin to the Programs menu." AllowAdvertise="no">
				<ComponentRef Id="RECOILWin.lnk" />
			</Feature>
			<Feature Id="recoilwin.desktop" Title="Desktop shortcut" Level="9" Description="Adds RECOILWin to the desktop." AllowAdvertise="no">
				<ComponentRef Id="RECOILWin.desktop" />
			</Feature>
			<Feature Id="recoilwin.ext" Title="Associate file types" Level="9" Description="$(var.DOUBLECLICK) RECOILWin." AllowAdvertise="no">
				<ComponentRef Id="recoilwin.ext" />
			</Feature>
		</Feature>

		<Feature Id="recoil2png" Title="RECOIL2PNG" Level="1" ConfigurableDirectory="RECOIL.DIR" Description="Command-line converter to PNG files." AllowAdvertise="no">
			<ComponentRef Id="recoil2png.exe" />
			<Feature Id="path" Title="Add to Path" Level="1" Description="Add the directory to the Path environment variable so that you don't have to type the location of recoil2png at the command prompt." AllowAdvertise="no">
				<ComponentRef Id="path" />
			</Feature>
		</Feature>

		<Feature Id="xnview" Title="XnView plugin" Level="9" ConfigurableDirectory="XNVIEWPLUG.DIR" Description="Plugin for XnView." AllowAdvertise="no">
			<Condition Level="1">XNVIEW.DIR</Condition>
			<ComponentRef Id="Xrecoil.usr" />
			<Feature Id="xnview_recoil.ext" Title="Associate file types" Level="0" Description="$(var.DOUBLECLICK) XnView." AllowAdvertise="no">
				<Condition Level="9">XNVIEW.EXE</Condition>
				<ComponentRef Id="xnview_recoil.ext" />
			</Feature>
		</Feature>

		<Feature Id="imagemagick32" Title="ImageMagick 32-bit coder" Level="0" ConfigurableDirectory="IMCODERS.DIR" Description="Image coder for 32-bit ImageMagick." AllowAdvertise="no">
			<Condition Level="1">IMCODERS.DIR AND CODER.XML</Condition>
			<ComponentRef Id="IM_MOD_RL_recoil_.dll" />
		</Feature>
		<?if $(sys.BUILDARCH) = x64?>
			<Feature Id="imagemagick64" Title="ImageMagick 64-bit coder" Level="0" ConfigurableDirectory="IMCODERS64.DIR" Description="Image coder for 64-bit ImageMagick." AllowAdvertise="no">
				<Condition Level="1">IMCODERS64.DIR AND CODER64.XML</Condition>
				<ComponentRef Id="IM_MOD_RL_recoil_64.dll" />
			</Feature>
		<?endif?>

		<Feature Id="thumbrecoil" Title="Windows thumbnail provider" Level="0" ConfigurableDirectory="RECOIL.DIR" Description="Shows thumbnails in Windows Explorer." AllowAdvertise="no">
			<Condition Level="1">VersionNT &gt;= 500</Condition><!-- Windows 2000 or newer -->
			<ComponentRef Id="thumbrecoil.dll" />
			<ComponentRef Id="thumbrecoilXP.reg" />
			<ComponentRef Id="thumbrecoilVista.reg" />
			<?if $(sys.BUILDARCH) = x64?>
				<ComponentRef Id="thumbrecoil64.dll" />
				<ComponentRef Id="thumbrecoil64XP.reg" />
				<ComponentRef Id="thumbrecoil64Vista.reg" />
			<?endif?>
		</Feature>

		<Feature Id="imagine32" Title="Imagine 32-bit plugin" Level="9" ConfigurableDirectory="IMAGINEPLUG.DIR" Description="Plugin for 32-bit Imagine." AllowAdvertise="no">
			<Condition Level="1">IMAGINE.EXE</Condition>
			<ComponentRef Id="RECOIL.plg" />
			<Feature Id="imagine32.ext" Title="Associate file types" Level="0" Description="$(var.DOUBLECLICK) Imagine." AllowAdvertise="no">
				<Condition Level="9">IMAGINE.EXE</Condition>
				<ComponentRef Id="imagine.ext" />
			</Feature>
		</Feature>
		<?if $(sys.BUILDARCH) = x64?>
			<Feature Id="imagine64" Title="Imagine 64-bit plugin" Level="9" ConfigurableDirectory="IMAGINEPLUG64.DIR" Description="Plugin for 64-bit Imagine." AllowAdvertise="no">
				<Condition Level="1">IMAGINE64.EXE</Condition>
				<ComponentRef Id="RECOIL.plg64" />
				<Feature Id="imagine64.ext" Title="Associate file types" Level="0" Description="$(var.DOUBLECLICK) 64-bit Imagine." AllowAdvertise="no">
					<Condition Level="9">IMAGINE64.EXE</Condition>
					<ComponentRef Id="imagine64.ext" />
				</Feature>
			</Feature>
		<?endif?>

		<Feature Id="paintdotnet" Title="Paint.NET plugin" Level="9" ConfigurableDirectory="PAINTDOTNETFILETYPES.DIR" Description="Plugin for Paint.NET" AllowAdvertise="no">
			<Condition Level="1">PAINTDOTNET.DIR</Condition>
			<ComponentRef Id="RecoilPaintDotNet.dll" />
		</Feature>

		<Feature Id="docs" Title="Documentation" Level="1" ConfigurableDirectory="RECOIL.DIR" Description="Documentation file." AllowAdvertise="no">
			<ComponentRef Id="README_WindowsSetup.html" />
			<Feature Id="docs.lnk" Title="Start menu shortcuts" Level="1" Description="Adds documentation and website links to the Programs menu." AllowAdvertise="no">
				<ComponentRef Id="Documentation.lnk" />
				<ComponentRef Id="Website.url" />
			</Feature>
		</Feature>

		<Feature Id="uninstall" Title="Uninstall shortcut" Level="1" Description="Adds the uninstall shortcut to the Programs menu (in addition to the Control Panel which is always available)." AllowAdvertise="no">
			<ComponentRef Id="uninstall.lnk" />
		</Feature>

	</Product>
</Wix>
